:root {
    --common-background-color: rgb(74, 196, 240);
    --body-background-color: rgb(234, 234, 208);
    --even-child-background-color: navy;
    --odd-child-background-color: darkorange;
    --hover-background-color: #F4F4F4;
    --main-text-color: #000;
    --extra-text-color: #FFF;
    --common-padding: .25rem;
    --common-margin: 1vw;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Fall back on additional color when variable doesn't exist */

/* body {
    background-color: var(--body-background-color, papayawhip);
} */

body {
    background-color: var(--body-background-color);
}

.main-container {
    background-color: var(--common-background-color);
}

.container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 80vw;
    margin: 3% calc(var(--common-margin) * 10);
    padding: var(--common-padding);
}

.sub-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--extra-text-color);
    font-size: .85rem;
    font-weight: bold;
    border: 3px solid var(--main-text-color);
    width: 7vw;
    height: 4rem;
    margin: 2vw 1vw;
    border: 2px solid #FFF;
}

.sub-container:nth-child(even) {
    background-color: var(--even-child-background-color);
}

.sub-container:nth-child(odd) {
    background-color: var(--odd-child-background-color);
}

.sub-container:hover {
    background-color: var(--hover-background-color);
    color: var(--main-text-color);
    border: 5px solid #000;
    border-style: double;
    transform: scale(1.5);
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50vw;
    margin: 2rem calc(var(--common-margin) * 25);
}

button {
    width: 20vw;
    height: 7vh;
    margin-right: 10vw;
    background-color: crimson;
    color: #FFF;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

button:hover {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
    letter-spacing: .3rem;
}
